<div class="row mb-3">
  <div class="col-md-12">
    <h1 class="display-4">
      Messages

      <%= link_to new_message_path, class: "btn btn-lg btn-outline-secondary" do %>
        <i class="fas fa-plus fa-fw"></i>
      <% end %>
    </h1>
  </div>
</div>

<!-- Table example -->

<div class="row">
  <div class="col-md-12">
    <h2>Upcoming Messages</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Content
            </th>

            <th>
              Send On
            </th>

            <th>
              Message sent
            </th>

            <th>
              Contact
            </th>

            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <%= render collection: current_user.messages.unsent, partial: "table_row", as: :message %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Sent Messages</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Content
            </th>

            <th>
              Send On
            </th>

            <th>
              Message sent
            </th>

            <th>
              Contact
            </th>

            <th>
              Actions
            </th>
          </tr>
        </thead>

        <tbody>
          <%= render collection: current_user.messages.sent.order(:send_time).reverse, partial: "table_row", as: :message %>
        </tbody>
      </table>
    </div>
  </div>
</div>
