<div class="row mb-3">
  <div class="col-md-12">
    <h1 class="display-4">
      Contacts

      <%= link_to new_contact_path, class: "btn btn-lg btn-outline-secondary" do %>
        <i class="fas fa-plus fa-fw"></i>
      <% end %>
    </h1>
  </div>
</div>

<% current_user.contacts.each_slice(3) do |slice| %>
<div class="row">
  <div class="col-md-12">
    <div class="card-deck">
      <%= render collection: slice, partial: "card", as: :contact %>
    </div>
  </div>
</div>
<% end %>
